
p {
	font-weight: bold;
	color: green;	
}

body {

	color: green#;
	font: 100%/1.5 "Trebuchet MS", Helvetica, sans-serif;
	max-width: 960px;
	margin: 20px auto;
	background-color: #aeaeae;
}

h1 {
	font-weight: bold;
	font-size: 1.5em; /* 24px*/
	color: #424242;
	text-align: center;
}
#branding {
	padding-left: 2.22222%; /* 20px/900px*/
}

#hook {
	width: 100%; /* 900px*/
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #424242;
}

#lightning_container {
	float: left;
	width: 33.3333%; /* 300px/900px*/
	margin-left: 1.11111%; /* 10px/900px*/
	height: 9.375em;
}

#lightning_container img {
	max-width: 100%;
}

#introduction {
	float: right;
	width: 66.6666667%; /*600px/900px*/
	padding-left: 3.33333%; /* 20px/600px*/
}
/*---------------Navigation---------------------*/
ul {
	width: 800px;
	margin: 0 auto;
	background: #666;
	list-style-type: none;
	padding: 0;
}

li {
	width: 100px;
	background: silver;
	float: left;
	overflow: hidden;
}

a {
	text-decoration: none;
	height: 30px;
	display: block;
	background: #323232;
	line-height: 30px;
	text-align: center;
	color: #d0000d;
	padding: 8px 15px;
	border-right: 1px solid #ccc;
}

a:hover {
	color: #aeaeae;
	background: #323232;
}

h2 {
	clear: both;
}

img {
	border: 15px solid #153a25;
}

#navigation {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

#introduction {
	border: none;
	width: 550px;
	height: 180px;
	float: right;
	margin-right: 25px;
	padding-top: 20px;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {
#hook {
	background-color: #509cff;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#hook {
	background-color: #ff7743;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
#hook {
	background-color: #d593ff; }
	#lightning_container { display: none; }
	
}
