/*
css for Lightning site
*/

p {
	font-weight: bold;
	color: green;	
}

img {
	float: right;
	width: 31.25%;
}

body {

	color: #323232;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	width: 960px;
	margin: 0 auto;
	background: #aeaeae;
}
/*---------------Navigation---------------------*/
ul {
	width: 810px;
	margin: 0 auto;
	background: #666;
	list-style-type: none;
	padding: 0;
}

li {
	width: 100px;
	background: silver;
	float: right;
	overflow: hidden;
}

a {
	text-decoration: none;
	height: 30px;
	display: block;
	background: #323232;
	line-height: 30px;
	text-align: center;
	color: #d0000d;
}

a:hover {
	color: #aeaeae;
	background: #323232;
}

img {
	float: left;
	width: 300px;
}

h2 {
	clear: both;
}

img {
	border: 15px solid #153a25;
}

#navigation {
	float: right;
}

#introduction {
	border: none;
	width: 550px;
	height: 180px;
	float: right;
	margin-right: 25px;
	padding-top: 20px;
}

#story {
	padding-top: 20px;
}

#Table {
	border: 1px solid navy;
	width: 475px;
	height: 300px;
	background: #a9a9a9;
	float: left;
	text-align: center;
}

#RegisterForm {
	border: 1px solid navy;
	width: 475px;
	height: 300px;
	background: #a9a9a9;
	float: right;
	text-align: center;
}

#lightning_container {
	border: 15px solid #153a25;
	width: 31.25%; /* 300px/960px */
}

#lightning_container img {
	max-width: 100%;
}
