/*
css for Lightning site
*/

p {
	font-weight: bold;
	color: green;
}

img {
	float: left;
	width: 300px;
}

body {

	color: #323232;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	width: 960px;
	margin: 0 auto;
	background: #aeaeae;
}
/*---------------Navigation---------------------*/
ul {
	width: 810px;
	margin: 0 auto;
	background: #666;
	list-style-type: none;
	padding: 0;
}

li {
	width: 100px;
	background: silver;
	float: right;
	overflow: hidden;
}

a {
	text-decoration: none;
	height: 30px;
	display: block;
	background: #323232;
	line-height: 30px;
	text-align: center;
	color: #d0000d;
}

a:hover {
	color: #aeaeae;
	background: #323232;
}

/*-------------------Gallery---------------------*/

ul id="gallery" {
	border: 1px dashed #666;
	list_style_type: none;
	width: 630px;
	margin: 20px auto;
	overflow: hidden;
	padding: 5px;
}

	li {
		float: left;
		margin-left: 19px;
	}
	
		a {
			border: 5px solid #fff;
			display: block;
			height: 100px;
			width: 100px;
			outline: 0;
		}
/*
css for Lightning site
*/

p {
	font-weight: bold;
	color: green;
}

img {
	float: left;
	width: 300px;
}

h2 {
	clear: both;
}